/* Custom Font */
@font-face {
  font-family: "PSans";
  src: url(./PS.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "PSans";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #283149;
  height: 60px;
}

.logo {
  text-decoration: none;
  color: #DBEDF3;
  font-size: 25px;
}

.signedin-links{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.signedin-links a {
  text-decoration: none;
  color: #DBEDF3;
  font-size: 18px;
}

.user-logo {
  background-color: #F73859;
  border-radius: 99px;
  padding: 10px;
}

.signedout-links{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.signedout-links a {
  text-decoration: none;
  color: #DBEDF3;
  font-size: 18px;
}